.opacitySlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
    justify-content: center;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: '0';
    left: '0';
    z-index: '9999';
}