.opacitySlider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px;
    justify-content: center;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}